%h2 全体タイムライン
- @blogs.each do |blog|
  %p= l blog.created_at
  %p= blog.content
  %p= image_tag blog.image.url if blog.image.present?
  -if user_signed_in? && current_user != blog.user
    = render 'relationships/follow_form', user:blog.user
= link_to 'miniブログを作成する', new_blog_path
= paginate @blogs
