%h2 全体タイムライン
- @blogs.each do |blog|
  %p= l blog.created_at
  %p= blog.content
  - if user_signed_in? && current_user != blog.user
    = render 'relationships/follow_form', user: blog.user
    = render 'likes/like_form', blog: blog
    = link_to 'コメント', blog_path(blog)
= link_to 'miniブログを作成する', new_blog_path
= paginate @blogs
