
%h3 miniブログ作成画面
- if @blog.errors.any?
  - @blog.errors.full_messages.each do |msg|
    %ul
      %li= msg
= form_with(model: @blog) do |f|
  = f.label :content
  %p= f.text_field :content
  %p= f.file_field :image
  %p= f.submit '作成'
