.text-center
  %p= @blog.content
  %p= image_tag @blog.image.url if @blog.image.present?

  = render 'comments/comment_form', blog: @blog
  %br
  
  - @blog.comments.each do |comment|
    .card.w-75.mx-auto.shadow-sm.p-3.mb-3.bg-white.rounded
      %p= comment.content
      - if current_user == comment.user
        = link_to '削除', comment_path(comment.id), method: :delete, class: "text-right"
