- if current_user.active_relationships.find_by(followed_id: user.id).present?
	= form_with(model: current_user.active_relationships.find{|i| i.followed_id == user.id}, method: :delete) do |f|
		= f.submit 'フォロー解除'
- else
	= form_with(model: current_user.active_relationships.build(followed_id: user.id)) do |f|
		= f.hidden_field :followed_id
		= f.submit 'フォロー'
