-# N+1問題解消のためrubyのfindメゾットを使用
- current_user_like = current_user.likes.find { |like| like.blog_id == blog.id }
- if current_user_like.present?
  = form_with(model: current_user_like, method: :delete) do |f|
    = f.submit "いいね#{blog.likes.count}"
- else
  = form_with(model: blog.likes.new) do |f|
    = f.hidden_field :blog_id
    = f.submit "いいね#{blog.likes.count}"
