- current_user_like = current_user.likes.find {|like| like.blog_id == blog.id}
- if current_user_like.present?
  = form_with(model: current_user_like, method: :delete) do |f|
    = f.submit "ライク#{blog.likes.count}"
- else
  = form_with(model: Like.new(blog_id: blog.id)) do |f|
    = f.hidden_field :blog_id
    = f.submit "ライク#{blog.likes.count}"
