!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MiniBlog4
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'

  %body
    .navbar.navbar-expand-lg   
      .nav-link
        = link_to '全体タイムライン', blogs_path
      - if user_signed_in?
        .nav-link
          = link_to 'ユーザー一覧', users_path
        .nav-link
          = link_to 'マイページ', user_path(current_user)
        .nav-link
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
      - else
        .nav-link
          = link_to 'サインアップ', new_user_registration_path
        .nav-link
          = link_to 'サインイン', new_user_session_path
    = notice
    .container
      .jumbotron.m-3 
        = yield
